#login{
    margin-left: 1000px;
    margin-top: 70px;
    width: 145px;
    height: 145px;

}
#texto{
    color: grey;
    margin-left: 1029px;

}
/*INPUTS E BOTOES*/
.css-email {
    margin-top: 30px;
    margin-left: 940px;
    padding: 4px;
    width: 275px;
    height: 30px;
    font-size: 16px;
    border-width: 0,05px;
    background-color: #e2e2e2;
    color: #000000;
    border-style: solid;
    border-radius: 50px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}


.css-senha {
    margin-top: 40px;
    margin-left: 940px;
    padding: 4px;
    width: 275px;
    height: 30px;
    font-size: 16px;
    border-width: 0,05px;
    background-color: #e2e2e2;
    color: #000000;
    border-style: solid;
    border-radius: 50px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}


.myButton {
    margin-top: 30px;
    margin-left: 1020px;
	background:linear-gradient(to bottom, #a103fd 5%, #6e00b3 100%);
	background-color:#a103fd;
	border-radius:28px;
	border:1px solid #a103fd;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:5px 47px;
	text-decoration:none;
	text-shadow:0px 1px 0px #d6a1f7;
}
.myButton:hover {
	background:linear-gradient(to bottom, #6e00b3 5%, #a103fd 100%);
	background-color:#6e00b3;
}
.myButton:active {
	position:relative;
	top:1px;
}
.cadastrar{
    margin-left: 1060px;
    color: #a103fd ;
}