<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projeto S.A</title>
        <link  rel="stylesheet" th:href="@{/css/estilo.css}">

        <link rel="stylesheet" th:href="@{/bootstrap-4.5.2/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/fontawesome-5.14.0/css/all.min.css}">

        <script src="/js/script.js"></script>

        

    </head>
    <body background="/src/back.png">
    <div th:if="${salvo} == 1" class="alert alert-success">
            Usuário salvo com sucesso
        </div>
        <div th:if="${salvo} == 2" class="alert alert-danger">
            Usuário não salvo
        </div>
		<img class="login" th:src="@{/src/login.png}">
            <form th:action="@{/aluno/save}" th:object="${aluno}" method="POST">

            	<input id="editId" type="text" placeholder="&#32 ID" class="css-email" th:field="${aluno.id}" readonly hidden />
                <input id="editNome" type="text" placeholder="&#32 NOME" class="css-email" th:field="${aluno.nome}" readonly />
                <input id="editEmail" type="text" placeholder="&#32 E-MAIL"  class="css-email" th:field="${aluno.email}" readonly />
                <input id="editSenha" type="text" placeholder="&#32 SENHA" class="css-email" th:field="${aluno.senha}" readonly hidden />
                <input id="editPermissoes" type="text" placeholder="&#32 PERMISSÃO" class="css-email" th:field="${aluno.permissoes}" readonly hidden />
                <input id="editAjuda" type="text" placeholder="&#32 QUER AJUDAR?" class="css-email" th:field="${aluno.querAjudar}" readonly  />
                <input id="editinstituicoes" type="text" placeholder="&#32 INSTITUIÇÕES" class="css-email" th:field="${aluno.instituicoesA}" readonly hidden />
                <input id="editsalas" type="text" placeholder="&#32 SALAS" class="css-email" th:field="${aluno.salasA}" readonly hidden />
                <input id="editmateria" type="text" placeholder="&#32 MATERIAS" class="css-email" th:field="${aluno.materiaAluno}" readonly />
               

            <button id="editSalvar" type="submit"  class="myButton" hidden>SALVAR</button>
            </form><!---->
            
            <form th:action="|@{/logout}|" class="navbar-from" method="POST">
            
             <button class="btn btn-dark" type="submit">
                    <i class="fas fa-sign-out-alt"></i>
             </button>

                <div >
                    <button id="cancelar" onclick="cancelarEditar()" hidden  />
                    <label class="" >cancelar</label>
                </div>

                <div >
                    <button id="editar" onclick="editarPerfil()"  />
                    <label class="" >editar perfil</label>
                </div>
             </form>
        </div>
        <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
        <script th:src="@{/bootstrap-4.5.2/js/bootstrap.min.js}"></script>
        <script src="/js/script.js"></script>
    </body>
</html>