<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projeto S.A</title>
        <link  rel="stylesheet" th:href="@{/css/perfilUsuario.css}">

        <link rel="stylesheet" th:href="@{/bootstrap-4.5.2/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/fontawesome-5.14.0/css/all.min.css}">

        <script src="/js/script.js"></script>

        

    </head>
    <body background="/src/back.png">



        <div class="majorDiv">

            <div th:if="${salvo} == 1" class="alert alert-success">
                Usuário salvo com sucesso
            </div>
            <div th:if="${salvo} == 2" class="alert alert-danger">
                Usuário não salvo
            </div>
            <div th:if="${aluno.statusAjuda} == ${aluno.statusAjuda.querAjudar}"  class="alert alert-success">
                Aluno disponivel para Ajudar
            </div>

            <div  th:if="${aluno.statusAjuda} == ${aluno.statusAjuda.precisaDeAjuda} "  class="alert alert-success">
                Aluno precisa de ajuda
            </div>


            <div class="divMenor">
		<img class="login" th:src="@{/src/login.png}">
            <form th:action="@{/aluno/save}" th:object="${aluno}" method="POST" class="formUser">


            	<input id="editId" type="text" placeholder="&#32 ID" class="css-email" th:field="${aluno.id}" readonly hidden />
                <input id="editNome" type="text" placeholder="&#32 NOME" class="css-email" th:field="${aluno.nome}" readonly />
                <input id="editEmail" type="text" placeholder="&#32 E-MAIL"  class="css-email" th:field="${aluno.email}" readonly />
                <div class="linhaEspacamento"></div>
                <input id="editSenha" type="text" placeholder="&#32 SENHA" class="css-email" th:field="${aluno.senha}" readonly hidden />
                <input id="editPermissoes" type="text" placeholder="&#32 PERMISSÃO" class="css-email" th:field="${aluno.permissoes}" readonly hidden />
                <select id="editAjuda" type="text" placeholder="&#32 QUER AJUDAR?" class="css-email" th:field="${aluno.statusAjuda}" readonly  hidden>
                    <option th:each="statusAjudaOpt : ${T(com.sa.model.Aluno.StatusAjuda).values()}" th:value="${statusAjudaOpt}" th:text="${statusAjudaOpt.displayValue}"></option>
                </select>
                <input id="editinstituicoes" type="text" placeholder="&#32 INSTITUIÇÕES" class="css-email" th:field="${aluno.instituicoesA}" readonly hidden />
                <input id="editsalas" type="text" placeholder="&#32 SALAS" class="css-email" th:field="${aluno.salasA}" readonly hidden />
                <input id="editmateria" type="text" placeholder="&#32 MATERIAS" class="css-email" th:field="${aluno.materiaAluno}" hidden readonly />
                <textarea id="editDescricao" placeholder="Descrição, até 500 caracteres para descrever as materias que você tem facilidade ou dificuldade e interesses academicos" maxlength="500" class="css-email" th:field="${aluno.descricao}" readonly ></textarea>


                <button id="editSalvar" type="submit"  class="myButton" hidden>Atualizar perfil</button>
                
            </form>


            <button  id="cancelar" onclick="cancelarEditar()" class="myButton" hidden>Sair da edição</button>
            <form th:if="${editavel}" th:action="|@{/logout}|" class="boxActions" method="POST">

                <button class="btn btn-dark" type="submit">
                    SAIR
                    <i class="fas fa-sign-out-alt"></i>
                </button>
            </form>

                <div th:if="${editavel}" >
                    <button id="editar" onclick="editarPerfil()"  />
                    <label class="" >editar perfil</label>
                </div>

                <div  >
                    <button  onclick="window.location.href='/instituicao/listInstituicoes/'" />
                    <label class="" >Voltar</label>
                </div>

            </div>

        </div>
       
        <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
        <script th:src="@{/bootstrap-4.5.2/js/bootstrap.min.js}"></script>
        <script src="/js/script.js"></script>
    </body>
</html>