<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projeto S.A</title>
        <link  rel="stylesheet" th:href="@{/css/estilo.css}">

        <link rel="stylesheet" th:href="@{/bootstrap-4.5.2/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/fontawesome-5.14.0/css/all.min.css}">

        <script src="/js/script.js"></script>

        

    </head> 
    <body >
    <div class="majorContainer">
    <div class="container-info"> <!--DIV DO LADO PARA FICAR BRANCO-->
        <div class="container-prof"> <!--DIV DO PROFESSOR-->
                <table>
                    <thead>
                        <tr>
                            <th class="names">PROFESSORES:</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="professor : ${professores}" th:onclick="|window.location.href='/perfil/' + ${professor.id} |">
                            <td th:text="${professor.nome}"></td>
                        </tr>
                    </tbody>
                </table>
        </div><!--FECHANDO PROF-->
        <div class="container-alunos"> <!--DIV ALUNO-->
            <table>
                <thead>
                    <tr>
                        <th class="names">ALUNOS:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="aluno : ${alunos}" >
                        <td th:onclick="|window.location.href='/perfil/' + ${aluno.id} |" th:text="${aluno.nome} + ' ' + ${aluno.statusAjuda}" class="name-aluno"> </td>
                        <td th:onclick="|window.location.href='/chat/add/' + ${aluno.id} |" ><i class="fas fa-comments"></i> </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" th:onclick="|window.location.href='/sala/listSala/' + ${instituicao.id}|" class="button-back">Voltar</button>
            </div> <!--FECHANDO DIV ALUNO-->

        </div> <!--fechando a div lateral-->

        <div class="fundo-feed">
            <div class="feed-sala"> <!--abrindo div para o feed de alunos-->
                <h1>aaaaaaaaaaaa</h1>
            </div>
        </div>
        <div class="chatdiv">

        </div>
    </div><!--FECHANDO MAJOR CONTAINER-->


        <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
        <script th:src="@{/bootstrap-4.5.2/js/bootstrap.min.js}"></script>
        <script src="/js/script.js"></script>
    </body>
</html>