<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projeto S.A</title>
        <link  rel="stylesheet" th:href="@{/css/estiloIndex.css}">


    </head>
    <body>

        <div class="conteiner-index">
            <a th:href="@{/login}" onclick="window.location.href='/login/'+false" class="myButton">ENTRAR</a>
            <a th:href="@{/cadastro/0}" class="myButton">CADASTRAR</a>
            
        </div>


    </body>
</html>