<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projeto S.A</title>
        <link  rel="stylesheet" th:href="@{/css/estilo.css}">
        <link rel="stylesheet" th:href="@{/css/arturFreitas.css}">
        <link rel="stylesheet" th:href="@{/bootstrap-4.5.2/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/fontawesome-5.14.0/css/all.min.css}">

        <script src="/js/script.js"></script>

        

    </head> 
    <body >

        <div class="fundo">
        <div class="container-list">
            <div>
                <table>
                    <thead>
                        <tr class="nameSala">
                            <th><div th:text="${instituicao.nome}"></div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="sala : ${salas}" th:onclick="|window.location.href='/sala/' + ${sala.id} |">
                            <td th:text="${sala.nome}" class="sala-css"></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="buttons">

                <button type="button"  onclick="sumirJanela('flutuante')" class="entrar-sala">Entrar em uma nova sala</button>

                <button type="button"  onclick="sumirJanela('flutuante2')" class="entrar-sala">Criar uma nova sala</button>

                <a onclick="window.location.href='/instituicao/listInstituicoes/'" class="button-new">Voltar</a>
            </div>
        </div>
            
            <div id="flutuante" class="major-flutuante" hidden>
                <div class="flutuante-pequeno animate__animated animate__backInUp">
                    <div class="flutuante-container">
                        <div class="titulo-modal">
                            <h4>Cadastrar-se em uma Sala</h4>
                        </div>
                        <form class="form-modal" th:action="|@{/professor/insertsala/} + ${instituicao.id}|" th:object="${professor}" method="POST">

                            <input id="editId" type="text" placeholder="&#32 ID" class="css-email" th:field="${professor.id}" readonly hidden />
                            <input id="editNome" type="text" placeholder="&#32 NOME" class="css-email" th:field="${professor.nome}" readonly hidden />
                            <input id="editEmail" type="text" placeholder="&#32 E-MAIL" class="css-email" th:field="${professor.email}" readonly hidden/>
                            <input id="editSenha" type="text" placeholder="&#32 SENHA" class="css-email" th:field="${professor.senha}" readonly hidden />
                            <input id="editPermissoes" type="text" placeholder="&#32 PERMISSÃO" class="css-email" th:field="${professor.permissoes}" readonly hidden />
    
                            <textarea id="editDescricao"   placeholder="Descrição, até 155 caracteres para descrever as materias que você tem facilidade ou dificuldade e interesses academicos" maxlength="155" class="bloco-form" th:field="${professor.descricao}" readonly  hidden></textarea>
                            <input id="editSexo" type="text"th:field="${professor.sexo}"readonly hidden>
    
                            <input id="editsalas" type="text" placeholder="&#32 QUER AJUDAR?" class="css-email" th:field="${professor.instituicaoP}" readonly hidden />
                            <input id="editmateria" type="text" placeholder="&#32 QUER AJUDAR?" class="css-email" th:field="${professor.materiasLecionadas}" readonly hidden />
    
                            <div class="form-group">
                                <select class="form-control select-publi" th:field="*{salaP}"  required>
                                    <option th:each="salaP : ${salasC}" th:value="${salaP.id}" th:text="${salaP.nome}"></option>
                                </select>
                            </div>
                            <div class="div-btn">
                                <button id="salvar" type="submit" class="btn btn-success">Cadastrar-se</button>
                                <button type="button"  onclick="sumirJanela('flutuante')" class="btn btn-danger">Voltar</button>
                            </div>
                        </form>
    
                    </div>
                </div>
                <div class="fundo-flutuante" onclick="sumirJanela('flutuante')"></div>
            </div>

            <div id="flutuante2" class="major-flutuante" hidden>
                <div class="flutuante-pequeno animate__animated animate__backInUp">
                    <div class="flutuante-container">
                        <div class="titulo-modal">
                            <h4>Cadastrar uma sala</h4>
                        </div>
                        <form class="form-modal" th:action="|@{/sala/save/} + ${instituicao.id}|" th:object="${sala}" method="POST">

                            <input type="text" placeholder="&#32 NOME" class="css-email" th:field="*{id}" required hidden/>
                            <div>
                                <input  class="select-publi mb-3" type="text" placeholder="&#32 Nome" th:field="*{nome}" required />
                            </div>
                            <div class="div-btn">
                                <button id="salvar" type="submit" class="btn btn-success">Cadastrar-se</button>
                                <button type="button"  onclick="sumirJanela('flutuante2')" class="btn btn-danger">Voltar</button>
                            </div>
                        </form>
    
                    </div>
                </div>
                <div class="fundo-flutuante" onclick="sumirJanela('flutuante2')"></div>
            </div>
        </div>

        <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
        <script th:src="@{/bootstrap-4.5.2/js/bootstrap.min.js}"></script>
        <script src="/js/script.js"></script>
    </body>
</html>