/*##92e3a9*/


/* ================Publicação================ */
.titulo-modal{
    display: flex;
    margin-bottom: 15px;
    font-family: "Segoe UI Light";
}
.text-publi{
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
}

.div-select{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.select-group{
    display: flex;
    width: 49%;
}

.select-publi{
    width: 100%;
    text-align-last: center;
    text-transform: capitalize;
}

.div-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn-modal{
    width: 35%;
}

/*janela flutuante*/
.major-flutuante{
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fundo-flutuante{
    height: 100%;
    width: 100%;
    background-color: #00000080;

}


.div-pequeno{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flutuante-pequeno{ /* Utilizando em Sala.html(Diretor, Professor e Aluno) e listInstituiçoes.html(Apenas em Aluno)*/
    border-radius: 12px;
    background-color: white;
    height: 25%;
    min-width: 20%;
    align-items: center;
    box-shadow: 20px 20px 50px -30px #515151;
    position: absolute;
}

.flutuante{ /* Utilizando em Sala.html(Diretor, Professor e Aluno) e listInstituiçoes.html(Apenas em Aluno)*/
    border-radius: 12px;
    background-color: white;
    height: 40%;
    min-width: 30%;
    align-items: center;
    box-shadow: 20px 20px 50px -30px #515151;
    position: absolute;
}

.flutuante-grande {
    border-radius: 12px;
    background-color: white;
    height: 50%;
    min-width: 30%;
    align-items: center;
    box-shadow: 20px 20px 50px -30px #515151;
    position: absolute;
}

.form-modal{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.flutuante-container{
    display: flex;
    height: 100%;
    padding: 5%;
    flex-direction: column;
    align-items: center;
}


.img-perfil{
    /*height: 10%;*/
    /*width: 10%;*/
    border: grey 1px solid;
    border-radius: 50%;
}

.container-principal1{
    background-color: #D7E2F1;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    font-family: "Segoe UI Light";
    display: flex;
}

.formUser{
    position: relative;
    display: table;
    float: left;
    width: 50%;

}
.bloco-form{
    width: 99.2%;
    resize: none;
}
#editDescricao{
    height: 180px;
    border-radius: 8px;
    border: none;
    background-color: #80808030;
    width: 90%;
}
.info-form-user{
    position: relative;
    float: left;
    margin-left: 5%;
    margin-bottom: 5%;
}

.barra-lateral1{
    position: relative;
    height: 100%;
    width: 20%;
    float: left;
    padding: 2%;
    background-color: #D7E2F1;
}



.info-user{
    margin-top: 10%;
    align-items: center;
    width: border-box;
    word-wrap: anywhere;
}

.container-secundario{
    position: relative;
    padding: 2%;
    float: left;
    flex-direction: column;
    width: 100%;


}



.status-ajuda{
    align-items: center;
    text-align: center;
}
.botao-lateral{
    align-items: center;
    width: 100%;
    border-radius: 15px;
    background-color: red;
    border: none;
    color: white;
    font-size: 20px;
    font-family: arial;
    display: flex;
    justify-content: center;
    margin-bottom: 20%;
}

.titulo-perfil{
    text-align: left;
    border-bottom: darkgrey solid 1px;

}

.container-instituicao-primario{
    position: relative;
        display: flex;
    float: left;
    padding-left: 3%;
    flex-direction: column;
    height: 85vh;
    width: 50%;


}
.container-instituicoes{
    width: 100%;
    position: relative;
    display: flex;
    background-color: white;
    margin-top: 10px;
    border-radius: 15px;
    padding: 1%;
    align-items: center;
    box-shadow: 5px 5px 25px -10px #515151;
}
.container-interno{
    width: 100%;
    max-height: 40vh;
    overflow-y: scroll;
    padding: 3%;
}

.info-instituicao{
margin-left: 5%;
}

.buttons-perfil{
    position: absolute;
    display: flex;
    bottom: 3%;
    right: 3%;
}

.espacamento{
    margin-bottom: 5%;
}

.enfileirar{
    position: relative;

}

.descricao-lateral{
    max-height: 132px;
    overflow-y: scroll;
    margin-bottom: 10%;
}
.buttonSalvar{
    align-items: center;
    width: 100%;
    border-radius: 15px;
    background-color: green;
    border: none;
    color: white;
    font-size: 20px;
    font-family: arial;
    display: flex;
    justify-content: center;
}
.voltar{
    align-items: center;
    width: 100%;
    border-radius: 15px;
    background-color: #1c79f1;
    border: none;
    color: white;
    font-size: 20px;
    font-family: arial;
    display: flex;
    justify-content: center;
}
.button-back{
    color: red;
    background: transparent;
    border: 0px;
}
.button-entrar{
    color: #408d4e;
    background: transparent;
    border: 0px;
}
.button-back1{
    color: red;
    background: transparent;
    border: 0px;
    width: 100%;
    font-size: 20px;
}
.button-entrar1{
    color: #408d4e;
    background: transparent;
    border: 0px;
    width: 100%;
    font-size: 20px;
}
.input-inst{
    background: #0000001f;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: none;
    height: 35px;
    width: 100%;
}




@media (max-width: 1000px) {
    .container-secundario{
        display: flex;
        flex-direction: column;
    }
    .barra-lateral{
        width: 50%;
    }
    .input-perfil{
        width: 100%;
    }


}

