
.myButton {
   margin: 30px 30px 0px 30px;
   padding-top: 20px;
   color: #424242;
   text-decoration: none;
   left: 200px;
   position: relative;
   display: inline-block;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.myButton:hover {
	color: #ff9966;
}

#fundo{
    margin-top: 80px;
}

h1{
    margin-top: 55px;
    margin-left: 50px;
    margin-bottom: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 45px;
    color: #7994CB;
    z-index: 1;
}
p{
    margin-top: 15px;
    margin-left: 50px;
    margin-bottom: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2;
}

.container-inicial{
    display: flex;
}

.fazemos {
	background-color:#e6a886;
	border-radius:28px;
	border:1px solid #b8b8b8;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:10px 31px;
	text-decoration:none;
    margin-top: 100px;
    margin-left: 200px;
}
.fazemos:hover {
	background-color:#ff9966;
}
.fazemos:active {
	position:relative;
	top:1px;
}
#logo{
    margin-left: 50px;
}

#botao1{
    left: 200px;
}
#botao2{
    left: 670px;
}