.login{
    margin-left: 1000px;
    margin-top: 70px;
    width: 145px;
    height: 145px;

}
#texto{
    color: grey;
    margin-left: 1029px;

}
/*INPUTS E BOTOES*/
.css-email {
    margin-top: 30px;
    margin-left: 940px;
    padding: 4px;
    width: 275px;
    height: 30px;
    font-size: 16px;
    border-width: 0,05px;
    background-color: #e2e2e2;
    color: #000000;
    border-style: solid;
    border-radius: 50px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.css-senha {
    margin-top: 40px;
    margin-left: 940px;
    padding: 4px;
    width: 275px;
    height: 30px;
    font-size: 16px;
    border-width: 0,05px;
    background-color: #e2e2e2;
    color: #000000;
    border-style: solid;
    border-radius: 50px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}


.myButton {
    margin-top: 30px;
    margin-left: 1020px;
	box-shadow: -1px 12px 12px -11px #276873;
	background:linear-gradient(to bottom, #90abc2 5%, #8fd1db 100%);
	background-color:#90abc2;
	border-radius:11px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:5px 38px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
    background:linear-gradient(to bottom, #8fd1db 5%, #90abc2 100%);
	background-color:#8fd1db;
}
.myButton:active {
	position:relative;
	top:1px;
}
.cadastrar{
    margin-left: 1060px;
    color: black ;
}
/*AQUI TEM TODOS OS BOTOES DA PAGINA DE LOGIN*/