
/*PREDEFINICIOS NO BODY*/
body {
    background: linear-gradient(to left, #02BED8, #457ED6);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
}
.fundo{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.majorContainer{ /*CSS PARA A TELA TODA*/
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to left, #02BED8, #457ED6);
    margin: 0;
    padding: 0;
    max-width: 999999px;
    display: flex;
    justify-content: flex-start;
}




/*DENTRO DA INSTITUIÇÃO-salas*/
.container-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 350px;
    height: 450px;
    border-radius: 20px;
    justify-content: center;
    align-content: center;

}
.buttons{
    margin-top: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.nameSala{
    color: black;
    font-family: "Segoe UI Semibold";
    font-size: 25px;
}
.button-new{
    margin: 10px 0px 10px 0px;
    cursor:pointer;
}

.sala-css{
    color: grey;
    font-size: 20px;
    font-family: "Segoe UI Light";
    padding: 0px 0px 10px 0px;
    cursor: pointer;
}
.sala-css:hover{
    color: black;
}
.iconMenu{
    padding: 15px 0px 0px 15px;
    font-size: 30px;
    color: white;
  }
#iconMenu{
width: 20%;
}
.iconClose{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 20px 0px 0px;
    width: 100%;
    color: white;
  }
/*----------AQUI TA OK-------*/




/*AS DIVISORIAS DENTRO DA SALA*/
.boxLateral{
    width: 20%;
    background-color: grey;
    display: none;
}


.meio-feed{
    width: 60%;
}

.infos-pessoas{ /*DA ESQUERDA PARTE BRANCA*/
    width: 20%;
    background-color: #ffffffd6;
    border-radius: 25px 0px 0px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*ESTRUTURA DO FEED*/
.estrutura-feed{
    width: 80%;
    height: 15vh;
    background-color: white;
    border-radius: 15px;
    display: flex;
    padding-top: 30px;
}
.name-feed{
    color: white;
    font-family: "Segoe UI Light";
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 25px;
}



/*PROF E ALUNO DENTRO DO CONTAINER*/


.container-prof{
    height: 20vh;
    text-align: center;

}

.container-alunos{
    height: 50vh;
    text-align: center;
}
.nomes-prof-aluno{
    font-family: "Segoe UI Light";
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 15px;
    color: #1c79f1;
}






/*--------------BOTÕES--------------S*/
.button-back{
    margin-top: 150%;
    box-shadow:inset 0px -3px 7px 0px #29bbff;
    background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    background-color:#2dabf9;
    border-radius:42px;
    border:0px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    padding:10px 35px;
    text-decoration:none;
    text-shadow:0px 1px 0px #263666;
}
.button-back:hover {
    background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
    background-color:#0688fa;
}
.button-back:active {
    position:relative;
    top:1px;
}





/*=========================CHAT=========================*/

.hiddenChatMsg{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center

}
.hiddenChatMsg span{
    font-size: 20px;
    color: white;
    text-justify: auto;
}

.chat-ul{
    list-style-type: none;
    
}
.chat-history{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}
.chat-msg{
    margin: 0px;
    text-align: end;
}
.card{
    height: 500px;
    border-radius: 15px !important;
    background-color: rgba(0,0,0,0.4) !important;
}
.contacts_body{
    padding:  0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}
.msg_card_body{
    overflow-y: auto;
}
.card-header{
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}
.card-footer{
border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}
.container{
    align-content: center;
}
.search{
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
}
.search:focus{
     box-shadow:none !important;
   outline:0px !important;
}
.type_msg{
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
    height: 60px !important;
    overflow-y: auto;
}
    .type_msg:focus{
     box-shadow:none !important;
   outline:0px !important;
}
.attach_btn{
border-radius: 15px 0 0 15px !important;
background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.send_btn{
border-radius: 0 15px 15px 0 !important;
background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.search_btn{
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.contacts{
    list-style: none;
    padding: 0;
}
.contacts li{
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}
.active{
    background-color: rgba(0,0,0,0.3);
}
.user_img{
    height: 70px;
    width: 70px;
    border:1.5px solid #f5f6fa;

}
.user_img_msg{
    height: 40px;
    width: 40px;
    border:1.5px solid #f5f6fa;

}
.img_cont{
    position: relative;
    height: 70px;
    width: 70px;
}
.img_cont_msg{
    height: 40px;
    width: 40px;
}
.online_icon{
position: absolute;
height: 15px;
width:15px;
background-color: #4cd137;
border-radius: 50%;
bottom: 0.2em;
right: 0.4em;
border:1.5px solid white;
}
.offline{
background-color: #c23616 !important;
}
.user_info{
margin-top: auto;
margin-bottom: auto;
margin-left: 15px;
}
.user_info span{
font-size: 20px;
color: white;
}
.user_info p{
font-size: 10px;
color: rgba(255,255,255,0.6);
}
.video_cam{
margin-left: 50px;
margin-top: 5px;
}
.video_cam span{
color: white;
font-size: 20px;
cursor: pointer;
margin-right: 20px;
}
.msg_cotainer{
margin-top: auto;
margin-bottom: auto;
margin-left: 10px;
border-radius: 25px;
background-color: #82ccdd;
padding: 10px;
position: relative;
min-width: 70px;
}
.msg_cotainer_send{
margin-top: auto;
margin-bottom: auto;
margin-right: 10px;
border-radius: 25px;
background-color: #78e08f;
padding: 10px;
position: relative;
min-width: 70px;
}
.msg_time{
position: absolute;
left: 0;
bottom: -15px;
color: rgba(255,255,255,0.5);
font-size: 10px;
}
.msg_time_send{
position: absolute;
right:0;
bottom: -15px;
color: rgba(255,255,255,0.5);
font-size: 10px;
}
.msg_head{
position: relative;
}
#action_menu_btn{
position: absolute;
right: 10px;
top: 10px;
color: white;
cursor: pointer;
font-size: 20px;
}
.action_menu{
z-index: 1;
position: absolute;
padding: 15px 0;
background-color: rgba(0,0,0,0.5);
color: white;
border-radius: 15px;
top: 30px;
right: 15px;
display: none;
}
.action_menu ul{
list-style: none;
padding: 0;
margin: 0;
}
.action_menu ul li{
width: 100%;
padding: 10px 15px;
margin-bottom: 5px;
}
.action_menu ul li i{
padding-right: 10px;

}
.action_menu ul li:hover{
cursor: pointer;
background-color: rgba(0,0,0,0.2);
}
@media(max-width: 576px){
.contacts_card{
margin-bottom: 15px !important;
}
}

@media screen and (min-height: 800px){

    .card{
        height: 750px;
        border-radius: 15px !important;
        background-color: rgba(0,0,0,0.4) !important;
    }

}
