body{
  background-color: #1C79F1;
}

.container-principal{
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #1C79F1;
}

.barra-lateral{
  width: 18%;
  background-color: #1C79F1;
}
.info-aluno{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 18px;
  font-family: "Segoe UI Light";
}
.info-inst-lateral{
  height: 20vh;
  display: flex;
  color: white;
  flex-direction: column;
  margin-top: 25%;
  align-items: center;
}
.nameInstituicao{
  margin-top: 8px;
  margin-bottom: 2px;
  font-family: "Segoe UI Light";
  font-size: 20px;
}
.nameInstituicao:hover{
  cursor: pointer;
  font-size: 22px;
}
.buttons-lateral{
  flex-direction: column;
  width: 100%;
  display: flex;
  margin-top: 50%;
  margin-left: 25%;
}
.add{
  align-items: center;
  width: 50%;
  border-radius: 15px;
  background-color: #356724;
  border: none;
  color: white;
  font-size: 20px;
  font-family: arial;
  display: flex;
  justify-content: center;
}
.add:hover{
  cursor: pointer;
}

.perfilname{
  align-items: center;
  width: 50%;
  border-radius: 15px;
  border: 1px solid white;
  color: white;
  font-size: 20px;
  font-family: arial;
  display: flex;
  justify-content: center;
  margin-bottom: 15%;
}
.perfilname:hover{
  cursor: pointer;
  background: white;
  color: black;
}
.sair{
  align-items: center;
  width: 50%;
  border-radius: 15px;
  background-color: red;
  border: none;
  color: white;
  font-size: 20px;
  font-family: arial;
  display: flex;
  justify-content: center;
}
.materias-alunos{
  align-items: center;
  width: 50%;
  border-radius: 15px;
  border: none;
  color: white;
  font-size: 20px;
  font-family: arial;
  display: flex;
  justify-content: center;
  margin-bottom: 20%;
}
.materias-alunos:hover{
  color: #02BDD8;
}
.titleAluno{
  margin: 30px 0px;
}

/*MEEEIOOOO FEEED*/
.buttons-meio{
  width: 90%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
  margin-top: 2%;

}
.tamanho-feed{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  overflow-y: auto;
}
.tamanho-btn{
  width: 100%;
  height: 10vh;
}
.meio{
  width: 82%;
  height: 100vh;
  background-color: #D7E2F1;
  border-radius: 25px 0px 0px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.middle{
  background: #ffffffbd;
  width: 70%;
  margin-bottom: 2%;
  height: 20%;
  border-radius: 15px;
  display: flex;
  border: 1px solid #d1e6cf;
  box-shadow: 20px 20px 50px -30px #515151;
}
.img-inst{
  width: 90%;
}
.ft-inst{
  width: 10%;
  height: 100%;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between
}
.info-inst{
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 20px;
  width: 60%;
}
.info-inst2{
  width: 25%;
  font-family: "Segoe UI Light";
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 3%;
  padding-bottom: 1%;
}
.nome-inst{
  display: flex;
}
.endereco-inst{
  display: flex;
}
.contato-inst{
  display: flex;
}
.entrar-inst{
  width: 90%;
  padding-left: 40%;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
.btn-solid-lg {
  margin-top: 15px;
  display: flex;
  padding: 1.375rem 2.625rem 1.375rem 2.625rem;
  border: 0.125rem solid #6094CE;
  border-radius: 2rem;
  background-color: #6094CE;
  color: #ffffff;
  font: 700 0.75rem/0 "Raleway", sans-serif;
  text-decoration: none;
  transition: all 0.2s;
  width: 50%;
  align-items: center;
  justify-content: center;
  font-family: arial;
  font-size: 18px;
  height: 6vh;

}

.btn-solid-lg:hover {
  background-color: transparent;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1625px) {
  .btn-solid-lg {
    width: 60%;
  }
}
@media (max-width: 1555px) {
  .btn-solid-lg {
    width: 70%;
  }
}
@media (max-width: 1165px) {
  .btn-solid-lg {
    width: 80%;
  }
}
@media (max-width: 1005px) {
  .btn-solid-lg {
    width: 90%;
  }
}
@media (max-width: 900px) {
  .btn-solid-lg {
    width: 90%;
  }

  .middle {
    display: flex;
    height: 25vh;
    flex-direction: column;
    align-items: center;
  }

  .img-inst {
    width: 400%;
  }

  .ft-inst {
    margin-right: 80px;
  }
}