.myButton {
    margin: 0px 30px 0px 30px;
    padding-top: 20px;
    color: #424242;
    text-decoration: none;
    left: 200px;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .myButton:hover {
     color: #7DA2BE;
 }
 #onda{
     margin-top: 900px;
     position: absolute;
     z-index: 1;
 }
#subtitulo{
    z-index: 9999;
    position: relative;
    margin-top: 270px;
    margin-left: 1060px;
    margin-bottom: 0px;
    color: #ffffff;
    font-size: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#tex{
    z-index: 9999;
    position: relative;
    margin-top: 35px;
    margin-left: 1058px;
    color: #ffffff;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 
 .container-inicial-info{
     display: flex;
     align-items: center;
     justify-content: space-around;
 }
 
 #image{
     margin-left: 150px;
     position: relative;
     z-index: 9999;
 }
 h1{
     margin-top: 100px;
     margin-bottom: 0px;
     margin-left: 180px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 80px;
     color: #36597B;
 }
 p{
     margin-top: 0px;
     margin-bottom: 200px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 18px;
     margin-left: 185px;
 }
 h3{
     margin-top: 620px;
     margin-bottom: 50px;
     font-size: 50px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: #5C66A2;
     margin-left: 700px;
 }
 
 .info{
     margin: 0%;
     background: #36597B;
     height: 1000px;
     width: 2000px;
 }
 
 .container-inicial{
     display: flex;
     justify-content: space-around;
     align-items: center;
 }
 
 #logo{
     margin-top: 25px;
     margin-left: 50px;
 }
 
 #botao1{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }
 #botao2{
     left: 670px;
 }
 .container-texto-apresentacao{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center
 }
 

 /*DESENVOLVEDORES*/


 @import url('https://fonts.googleapis.com/css?family=Lato');
* {
	margin:0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	color:#000;
	font-family: 'Lato', sans-serif;
}
html, body {
	min-height: 100%;
	height: auto
}

.titulo {
	display: block;
	width: 100%;
	text-align: center;
	color: #b3b9bf;
	font-size: 30px;
	margin: 25px 0;
}
.titulo:hover {
	color: #2C3F52;
}
#box {
	width: 880px;
	height: auto;
	margin: 15px auto;
	display: block;
	margin-bottom: 50px;
}
#box:after {
	display: block;
	content: '.';
	line-height: 0;
	visibility: hidden;
}
.estilizacao {
	display: block;
	width: 880px;
	list-style: none;
}
.estilizacao li {
	position: relative;
	display: block;
	float: left;
	width: 400px;
	height: 300px;
	margin:20px;
	cursor: pointer;
}
.estilizacao li img {
	width: 100%;
	height: 100%;
	display: block;
	z-index: 999;
	position: absolute;
	transition:.5s;
}
.conteudo {
	display: block;
	width: 100%;
	height: 80px;
	background-color:#202633;
	overflow: hidden;
	color: #fff;
	margin-top: 220px;
}
.estilizacao li:hover img {
	margin-top:-80px;
}
.conteudo p {
	display: block;
	color: #fff;
	position: relative;
	float: left;
	width: 250px;
	margin:10px;
	margin-bottom: 0;
	font-family: 'Lato', sans-serif;
	text-indent: 10px;

}
.btn-more {
	display: block;
	text-decoration: none;
	color: #000;
	position: relative;
	float: right;
	padding:3px 10px;
	background: #5C66A2;
	border-radius: 4px;
	margin:10px;
}
.nome-secao {
	font-size:18px;
}
.descricao {
	font-size: 14px;
}



/*-----------------*/
@media screen and (max-width: 1245px){
    #fundo{
        width: 500px;
    }
    .menu-mobile {
        display: inline !important;
    }
    .main-nav{
        flex-direction: column;
        display: flex;
    }
}
@media screen and (min-width: 1245px){
    .main-nav {
        display: flex !important;
    }
}
@media screen and (max-width: 934px){
    .container-inicial-info{
        flex-direction: column-reverse;
    }
    #fundo{
        width: 300px;
    }
    
}
.menu-mobile {
    display: none;
}
.main-nav {
    display: flex;
}
li{
    list-style-type: none;
}
i{
    color: rgb(255, 160, 113);
}
