* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/*CONTAINER E LOGIN*/
body {
    background: linear-gradient(45deg, #02BDD8, #457ED6);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    background: white;
    width: 350px;
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
.css-email{
    margin-top: 40px;
    border: 0;
    border-bottom: 2px solid #9e9e9e;
    width: 250px;
    margin-left: 15px;
    outline: none;
    transition: .2s ease-in-out;
    box-sizing: border-box;
}
.css-senha{
    margin-top: 30px;
    border: 0;
    border-bottom: 2px solid #9e9e9e;
    width: 250px;
    margin-left: 15px;
    outline: none;
    transition: .2s ease-in-out;
    box-sizing: border-box;
}
.myButton {
        margin-top: 2rem;
        width: 250px;
        height: 30px;
        margin-left: 20px;
        padding: 0.4rem;
        background: linear-gradient(45deg, #02BDD8, #457ED6);
        cursor: pointer;
        color: rgb(255, 255, 255);
        font-size: 0.9rem;
        font-weight: 300;
        border-radius: 4px;
        transition: all 0.3s ease;
    }
    
.myButton:hover{
        letter-spacing: 0.5px;
        background: linear-gradient(45deg,  #457ED6, #02BDD8);
    }
h2{
    margin-left: 110px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#texto{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 65px;
    color: grey;
    margin-top: 15px;
}
.cadastrar{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #38577C;
    margin-left: 100px;
    text-decoration: none;
}



.container1{
    background: white;
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 30px;
}
.css-email1{
    margin-top: 40px;
    border: 0;
    border-bottom: 2px solid #9e9e9e;
    width: 250px;
    margin-left: 5px;
    outline: none;
    transition: .2s ease-in-out;
    box-sizing: border-box;
}
.css-senha1{
    margin-top: 30px;
    border: 0;
    border-bottom: 2px solid #9e9e9e;
    width: 250px;
    margin-left: 5px;
    outline: none;
    transition: .2s ease-in-out;
    box-sizing: border-box;
}
.myButton1 {
    margin-top: 2rem;
    width: 250px;
    height: 30px;
    margin-left: 10px;
    padding: 0.4rem;
    background: linear-gradient(45deg, #02BDD8, #457ED6);
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.myButton1:hover{
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #38577C, #4B548A);
}