.login{
    margin-left: 600px;
    margin-top: 70px;
    width: 145px;
    height: 145px;

}
#texto{
    color: grey;
    margin-left: 606px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
/*INPUTS E BOTOES*/
.css-email {
    margin-top: 30px;
    margin-left: 540px;
    padding: 4px;
    width: 275px;
    height: 30px;
    font-size: 16px;
    border-width: 0,05px;
    background-color: #e2e2e2;
    color: #000000;
    border-style: solid;
    border-radius: 50px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.css-senha {
    margin-top: 40px;
    margin-left: 540px;
    padding: 4px;
    width: 275px;
    height: 30px;
    font-size: 16px;
    border-width: 0,05px;
    background-color: #e2e2e2;
    color: #000000;
    border-style: solid;
    border-radius: 50px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}


.myButton {
	background-color:#e6a886;
	border-radius:28px;
	border:1px solid #b8b8b8;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:10px 31px;
	text-decoration:none;
    margin-top: 30px;
    margin-left: 620px;
}
.myButton:hover {
	background-color:#ff9966;
}
.myButton:active {
	position:relative;
	top:1px;
}

.cadastrar{
    margin-left: 640px;
    color: #ff9966 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
/*AQUI TEM TODOS OS BOTOES DA PAGINA DE LOGIN*/

.fab{
    position: fixed;
    bottom:10px;
    right:10px;
  }

  
    
  
  