<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projeto S.A</title>
        <link  rel="stylesheet" th:href="@{/css/estilo.css}">

        <link rel="stylesheet" th:href="@{/bootstrap-4.5.2/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/fontawesome-5.14.0/css/all.min.css}">

        <script src="/js/script.js"></script>

        

    </head>
    <body >
    
        <div class="form-tabela">

            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Nome</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="instituicao : ${instituicoes}" >
                        <td th:text="${instituicao.nome}" th:onclick="|window.location.href='/sala/listSala/' + ${instituicao.id} |"></td>
                    </tr>
                </tbody>

            </table>

        </div>
        <div class="fab" >
            <a onclick="window.location.href='/instituicao/addinstituicao/'" class="myButton">+</a>
            <a onclick="window.location.href='/'" class="myButton">Logout</a>
            <a onclick="window.location.href='/diretor/perfil/0'" class="myButton">perfil</a>
           
        </div>
        <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
        <script th:src="@{/bootstrap-4.5.2/js/bootstrap.min.js}"></script>
        <script src="/js/script.js"></script>
    </body>
</html>